<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Sign up</h1>

    <form (ngSubmit)="register()" [formGroup]="userForm">
      <div class="form-group">
        <label for="login" id="login-label">Login</label>
        <input id="login" class="form-control" type="text" formControlName="login">
        <div *ngIf="loginCtrl.dirty && loginCtrl.hasError('required')" id="login-warning">Login is required</div>
      </div>

      <div class="form-group">
        <label for="password" id="password-label">Password</label>
        <input id="password" class="form-control" type="password" formControlName="password">
        <div *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('required')" id="password-warning">Password is required</div>
      </div>

      <div class="form-group">
        <label for="birthYear" id="birthYear-label">Birth year</label>
        <input id="birthYear" class="form-control" type="number" formControlName="birthYear">
        <div *ngIf="birthYearCtrl.dirty && birthYearCtrl.hasError('required')" id="birthYear-warning">Birth year is required</div>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="!userForm.valid">Let's Go!</button>
    </form>
  </div>
</div>
